<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd'T'HH:mm:ss.SSSXXX</Property>
        <Property name="LOG_PATTERN">%d{${sys:LOG_DATEFORMAT_PATTERN}} %5p [%t] [%X{traceId}] : %msg%n</Property>
        <Property name="INPUT_OUTPUT_PATTERN">%d{${sys:LOG_DATEFORMAT_PATTERN}} %5p [%t] %logger{36} - Method: %M, Input: %msg, Output: %ex%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${sys:LOG_PATTERN}"/>
        </Console>
        <File name="File" fileName="logs/application.log">
            <PatternLayout pattern="${sys:LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.skripsi.siap_sewa" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
